<!-- user info -->
<section class="userInfo">
  <div class="container">
    <div class="row">
      
      <div class="col-sm-2">
        <img style="border-radius: 8%" id="profilePicture">
      </div>

      <div class="col-sm-6">
        <h5 id='author_description'></h5>
      </div>

      <div class="col-sm-4" id="infoBox">
        <ul id="listBox">
          <li><h4 id='name'></h4></li>
        </ul>
      </div>
    </div>
  </div>
</section>

<!-- Collection -->
<section class="userCollection">
  <div class="container">

    <!-- Tab -->
    <ul class="nav nav-pills nav-justified" id="user-nav">
      <li class="nav-item active" aria-expanded="true">
        <a class="nav-link active" data-toggle="tab" href="#myCollections">我的作品集</a>
      </li>
      <li class="nav-item" aria-expanded="false">
        <a class="nav-link" data-toggle="tab" href="#createCollection">新增作品集</a>
      </li>
      <li class="nav-item" aria-expanded="false">
        <a class="nav-link" data-toggle="tab" href="#addModel">新增模型</a>
      </li>
    </ul>
    <div class="line"></div>
    <div class="tab-content">
      <div id="myCollections" class="tab-pane fade in active show">
        <div id="collection" class='col-lg-3 col-md-4 col-sm-8 col-xs-6' *ngFor="let collection of myCollections">
          <div class='card shadow bg-white rounded'>
            <a (click)="goToCollectionDetail(collection.id)" id='collectionLink'>
              <img class="card-img-top" src='http://kck.dvrdns.org:8181/collections/images/{{ collection.id }}'>
              <div class="card-body">
                <div class='course-name' *ngIf="collection.privacy == 1; else notPrivacy">
                  <h5 style='text-align:left;' [innerHTML]='collection.name'>
                    <span class='glyphicon glyphicon-lock' style='float:right;'></span>
                  </h5>
                </div>
                <ng-template #notPrivacy>
                  <div class='course-name'>
                    <h5>{{ collection.name }}</h5>
                  </div>
                </ng-template>
                <p> {{ collection.item_ids.length }} 件模型<p>
              </div>
            </a>
          </div>
        </div>
      </div>
      <!-- create collection -->
      <div id="createCollection" class="tab-pane fade">
        <div class="upload-field">
          <form class="form-horizontal" id="createNewCollection" enctype="multipart/form-data" onsubmit="return false">
            <div id="hidden_form"></div>
            <div class="form-group">
              <label class="control-label col-lg-2" for="name">Title</label>
              <div class="col-lg-10">
                <input class="form-control" type="text" name="name" id="collectionName" autocomplete="off" aria-describedby="name" placeholder="What's the title of your collection?">
              </div>
            </div>
        
            <div class="form-group">
              <label class="control-label col-sm-2" for="type">Description</label>
              <div class="col-sm-10">
                <textarea class="form-control" name="description" id="collectionDescription" rows="5" placeholder="Tell us about your collection."></textarea>
              </div>
            </div>
        
            <div class="form-group">
              <label class="control-label col-sm-2" for="privacy">Privacy</label>
              <div class="col-sm-10">
                <div id="radio-privacy">
                  <input type="radio" name="privacy" value="0" checked>
                  <span>Public</span>
                  <input type="radio" name="privacy" value="1">
                  <span>Private</span>
                </div>
              </div>
            </div>
        
            <div class="form-group">
              <label class="control-label col-sm-2" for="name">Category</label>
              <div class="col-sm-10">
                <select class="form-control" name="type" id="collectionCategory">
                  <option value="" selected disabled>Please select one of the category</option>
                  <option>Business</option>
                  <option>Entertainment</option>
                  <option>Design</option>
                  <option>Life</option>
                  <option>Education</option>
                </select>
              </div>
            </div>
        
            <div class="form-group">
              <label class="control-label col-sm-2" for="image">Thumbnail</label>
              <div class="col-sm-10" style="display: flex;">
                <img class="col-sm-4 d-inline" id='preview-image' style="height: 150px; object-fit: cover; border: 0.5px solid black; padding: 2px; margin-right: 20px;" src=""
                  alt="">
                <input type="file" style="margin: auto 0" name="image" id="file" placeholder="image"
                  aria-describedby="image" accept=".png,.jpeg">
              </div>
            </div>
            <div class="line"></div>
            <input type="submit" Value="Submit" class="btn col-sm-2" id="submitBtn">
          </form>
        </div>
      </div>

      <!-- add model -->
      <div id="addModel" class="tab-pane fade">
        <div class="upload-field">
          <form class="form-horizontal" role="form" enctype="multipart/form-data" method="post" id="model-form">
            <div class="form-group">
              <label class="control-label col-sm-2" for="modelTitle">Title</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" name="name" id="modelTitle" placeholder="What's the title of your model?"
                  required autocomplete="off">
              </div>
            </div>

            <!-- default are model -->
            <div name="type" value="model"></div>

            <!-- <div class="form-group">
              <label class="control-label col-sm-2" for="type">Type</label>
              <div class="col-sm-10">
                <select class="form-control" name="type" id="type-selection" required>
                  <option value="" selected>Please select a model..</option>
                  <option value="image">Image</option>
                  <option value="video">Video</option>
                  <option value="model">Model</option>
                </select>
              </div>
            </div> -->
            
            <div class="form-group">
              <label class="control-label col-sm-2" for="modelUpload">Model</label>
              <div class="col-sm-10">
                <input type="file" name="" class="form-control-file" id="model-upload" aria-describedby="fileHelp"
                  disabled required>
                <small id="fileHelp" class="form-text text-muted">Tips location here</small>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-2" for="modelDescription">Description</label>
              <div class="col-sm-10">
                <textarea class="form-control" name="description" id="modelDescription" rows="5" placeholder="Tell us about your collection."
                  required></textarea>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-2" for="collectionHastag">Hashtags</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" name="tags" id="collectionHastag" placeholder=""
                  autocomplete="off" required>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-2" for="collectionOption">Collection</label>
              <div class="col-sm-10">
                <select class="form-control selectpicker show-menu-arrow" name="collection_id" id="collectionOption"
                  data-live-search="true" required>
                  <option value="" selected>Please select one of the collection</option>
                  <option *ngFor="let collection of myCollections" [value]="collection.id">{{ collection.name }}</option>
                </select>
              </div>
            </div>
            <input type="hidden" name="user_id" [value]="user_id">
            <div class="line"></div>
            <input type="submit" Value="submit" class="btn col-sm-2" id="submitBtn submitAddItem">
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
