<!-- user info -->
<section class="userInfo">
  <div class="container">
    <div class="row">

      <div class="col-4 col-sm-2">
        <img style="border-radius: 8%" id="profilePicture">
      </div>

      <div class="col-sm-6">
        <h4 id='name'></h4>
        <h5 id='author_description'></h5>
      </div>

      <!-- <div class="col-sm-4" id="infoBox"></div> -->
    </div>
  </div>
</section>

<!-- Collection -->
<section class="userCollection">
  <div class="container">

    <!-- Tab -->
    <ul class="nav nav-pills nav-justified" id="user-nav">
      <li class="nav-item active" aria-expanded="true">
        <a class="nav-link active" data-toggle="tab" href="#myCollections">我的作品集</a>
      </li>
      <li class="nav-item" aria-expanded="false">
        <a class="nav-link" data-toggle="tab" href="#createCollection">新增作品集</a>
      </li>
      <li class="nav-item" aria-expanded="false">
        <a class="nav-link" data-toggle="tab" href="#manageAuthor">作者管理</a>
      </li>
    </ul>
    <div class="line"></div>
    <div class="tab-content">

      <!-- My Collections -->
      <div id="myCollections" class="tab-pane fade in active show">
        <div id="collection" class='col-lg-3 col-md-4' *ngFor="let collection of myCollections">
          <div class='card shadow bg-white rounded'>
            <a (click)="goToCollectionDetail(collection.id)" id='collectionLink'>
              <img class="card-img-top" src='{{ host }}/collections/images/{{ collection.id }}'>
              <div class="card-body">
                <div class='course-name' *ngIf="collection.privacy == 1; else notPrivacy">
                  <h5 style='text-align:left;' [innerHTML]='collection.name'>
                    <span class='glyphicon glyphicon-lock' style='float:right;'></span>
                  </h5>
                </div>
                <ng-template #notPrivacy>
                  <div class='course-name'>
                    <h5>{{ collection.name }}</h5>
                  </div>
                </ng-template>
                <p> {{ collection.item_ids.length }} 件模型<p>
              </div>
            </a>
          </div>
        </div>
      </div>
      <!-- create collection -->
      <div id="createCollection" class="tab-pane fade">
        <div class="upload-field">
          <form class="form-horizontal" id="createNewCollection" enctype="multipart/form-data">
            <div id="hidden_form"></div>
            <div class="form-group">
              <label class="control-label col-4 col-sm-2" for="name">Title</label>
              <div class="col-sm-10">
                <input class="form-control" type="text" name="name" id="collectionName" required autocomplete="off" aria-describedby="name" placeholder="What's the title of your collection?">
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-4 col-sm-2" for="type">Description</label>
              <div class="col-sm-10">
                <textarea class="form-control" name="description" id="collectionDescription" rows="5" required placeholder="Tell us about your collection."></textarea>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-4 col-sm-2" for="privacy">Privacy</label>
              <div class="col-sm-10">
                <div id="radio-privacy">
                  <input type="radio" name="privacy" value="0" checked>
                  <span>Public</span>
                  <input type="radio" name="privacy" value="1">
                  <span>Private</span>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-4 col-sm-2" for="name">Category</label>
              <div class="col-12 col-lg-10">
                <select class="form-control" name="type" id="collectionCategory" required>
                  <option value="" selected disabled>Please select one of the category</option>
                  <option>Business</option>
                  <option>Entertainment</option>
                  <option>Design</option>
                  <option>Life</option>
                  <option>Education</option>
                </select>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-4 col-sm-2" for="image">Thumbnail</label>
              <div class="col-sm-10" style="display: flex;">
                <input type="file" style="margin: auto 0" name="image" id="file" required placeholder="image"
                  aria-describedby="image" accept=".png,.jpeg">
              </div>
            </div>
            <div class="line"></div>
            <input type="submit" Value="Submit" class="btn col-4 col-sm-2" id="submitBtn">
          </form>
        </div>
      </div>

      <!-- Manage Author -->
      <div id="manageAuthor" class="tab-pane fade">
          <div class="btn-toolbar justify-content-end mb-2" role="toolbar" aria-label="">
            <div class="btn-group" role="group" aria-label="">
              <button id="addAuthor" type="button" class="btn btn-primary glyphicon glyphicon-plus" (click)="goToAddAuthor()"></button>
            </div>
          </div>
          <div id="author" class='col-lg-3 col-md-4 col-sm-8 col-xs-6' *ngFor="let author of myAuthors">
            <div class='card shadow bg-white rounded'>
              <a (click)="goToAuthorDetail(author.id)" id='authorLink'>
                <img class="card-img-top" [src]='author.image_url'>
                <div class="card-body">
                  <div class='course-name'>
                    <h5>{{ author.name }}</h5>
                  </div>
                  <p> {{ author.description }}<p>
                </div>
              </a>
            </div>
          </div>
      </div>
    </div>
  </div>
</section>
