$mainColorRed: #cd162d;

html, body {
  height: 100%;
  width: 100%;
}

h5 {
  margin-top: 25px;
  margin-bottom: 10px;
}

.btn {
  color: white;
}

#addBtn {
  background: #CCC401;
}

.modelDetails img{
  width: 100%;
  max-height: 55vh;
  margin: 0% auto;
  object-fit: cover;
}

.metaData h6 {
  margin-bottom: 20px;
}

.line{
  height: 1px;
  border-bottom: 0.1px;
  background: rgba(0, 0, 0, 0.1);
  margin-top: 10px;
  margin-bottom: 5px;
}

#toolbar {
  margin-top: 15px;
  display: inline-block;
}

#toolbar button {
  margin-left: 5px;
}

#commentSection {
  margin-top: 15px;
}

#collectionName {
  background: $mainColorRed;
  color: white;
  font-size: 22px;
  padding-left: 20px;
  padding-top: 3px;
  padding-bottom: 3px;
}

#authorName {
  font-size: 20px;
  color: #0A7DB2;
  text-decoration: none;
}
