

/* Chrome, Safari */
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

p {
  overflow: hidden;
  margin-bottom: 0px;
}

h5 {
  overflow: hidden;
}

.line {
  height: 1px;
  border-bottom: 0.1px;
  background: rgba(0, 0, 0, 0.5);
  margin-top: 5px;
  margin-bottom: 5px;
}

.card-img-top {
  height: 150px;
  object-fit: cover;
}

.card-body {
  white-space: normal;
  /* background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0.5), rgba(0, 0, 255, 0.5)); */
}

.Horizontal-Scroll {
  white-space: nowrap;
  overflow-y: hidden;
  display: block;
}

.Horizontal-Scroll.no-border {
  border: none !important;
}

.Horizontal-Scroll .item {
  cursor: pointer !important;
  border-color: #cd162d;
}

.Horizontal-Scroll .item .body .content {
  text-overflow: ellipsis;
  overflow: hidden;
}

.Horizontal-Scroll .item .body .content .title:first-child {
  padding: 1% 1% 0% 1%;
  color: red;
}

.Horizontal-Scroll .item .body .content .title:nth-child(2n) {
  padding: 0% 5% 1% 5% !important;
  color: black;
}

.Scroll {
  width: 100%;
}

@media (max-width: 767px) {
  .Scroll {
    padding: 10px 10px 10px 10px;
  }

  .card-body {
    white-space: normal;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    /* background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0.5), rgba(0, 0, 255, 0.5)); */
  }

  h5 {
    font-size: 3.8vw;
    display: block;
    white-space: nowrap;
  }

  p.Scroll-Header {
    margin-left: 5px;
    font-size: 8vw;
    color: #cd162d;
    font-weight: bolder;
  }

  p {
    font-size: 2.6vw;
    display: block;
    white-space: nowrap;
  }

  .Horizontal-Scroll {
    padding: 3vh 1vh 3vh 1vh;
  }

  .Horizontal-Scroll .item {
    /* background-color: #ddd; */
    display: inline-block;
    margin-right: 4vh;
    width: 40vw;
  }

  /* .Horizontal-Scroll .item .image {
    display: block;
    margin: auto;
    width: 100%;
    max-width: 100%;
    object-fit: cover;
  } */

  /* .Horizontal-Scroll .item .body .content {
    padding: 2% 5% 2% 5%;
    font-size: 3vw;
    font-size-adjust: initial;
  }

  .Horizontal-Scroll .item .body .content .title {
    padding: 2% 1% 1% 2%;
    display: block;
  }

  .Horizontal-Scroll .item .body .content .title:first-child {
    font-size: 2.5vw;
  }

  .Horizontal-Scroll .item .body .content .title:nth-child(2n) {
  } */

  .Horizontal-Scroll>.item:last-child {
    margin-right: 0;
  }
}

@media (min-width: 768px) {

  .Scroll {
    padding-top: 15px;
    padding-bottom: 10px;
  }

  .card-body {
    white-space: normal;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    /* background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0.5), rgba(0, 0, 255, 0.5)); */
  }

  h5 {
    font-size: 2vw;
    display: block;
    white-space: nowrap;
  }

  p.Scroll-Header {
    margin-left: 5px;
    font-size: 3.5vw;
    color: #cd162d;
    font-weight: bolder;
  }

  p {
    font-size: 1.25vw;
    display: block;
    white-space: nowrap;
  }

  .Horizontal-Scroll {
    min-width: 35vh;
    padding: 1vh 2vh 2vh 2vh;
  }

  .Horizontal-Scroll .item {
    /* background-color: #ddd; */
    display: inline-block;
    margin-right: 4vw;
    width: 20vw;
  }

  /* .Horizontal-Scroll .item .image {
    display: block;
    margin: auto;
    width: 100%;
    max-width: 100%;
    object-fit: cover;
  } */

  /* .Horizontal-Scroll .item .body .content {
    padding: 2% 5% 2% 5%;
    font-size: 2vw;
    font-size-adjust: initial;
  }

  .Horizontal-Scroll .item .body .content .title {
    padding: 2% 1% 1% 2%;
    display: block;
  }

  .Horizontal-Scroll .item .body .content .title:first-child {
    font-size: 1.5vw;
  }

  .Horizontal-Scroll .item .body .content .title:nth-child(2n) {
  } */

  .Horizontal-Scroll>.item:last-child {
    margin-right: 0;
  }
}

@media (min-width: 1200px) {
  .Scroll {
    padding-top: 15px;
    padding-bottom: 10px
  }

  .card-body {
    white-space: normal;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    /* background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0.5), rgba(0, 0, 255, 0.5)); */
  }

  h5 {
    font-size: 1.6vw;
  }

  p.Scroll-Header {
    margin-left: 5px;
    font-size: 2vw;
    color: #cd162d;
    font-weight: bolder;
  }

  p {
    font-size: 1.1vw;
    padding: none;
  }

  .Horizontal-Scroll {
    min-width: 35vh;
    padding: 2vh 2vh 2vh 2vh;
  }

  .Horizontal-Scroll .item {
    /* background-color: #ddd; */
    display: inline-block;
    margin-right: 3vw;
    width: 15vw;
  }

  /* .Horizontal-Scroll .item .image {
    display: block;
    margin: auto;
    width: 100%;
    max-width: 100%;
    object-fit: cover;
  } */

  /* .Horizontal-Scroll .item .body .content {
    padding: 2% 5% 2% 5%;
    font-size: 1vw;
    font-size-adjust: initial;
  }

  .Horizontal-Scroll .item .body .content .title {
    display: block;
  }

  .Horizontal-Scroll .item .body .content .title:first-child {
    font-size: 0.8vw;
  }

  .Horizontal-Scroll .item .body .content .title:nth-child(2n) {
  } */

  .Horizontal-Scroll>.item:last-child {
    margin-right: 0;
  }

}
