
$hover-red: #a81327;

html, body {
    height: 100%;
    width: 100%;
}

/* navbar */
.navbar-default {
    background-color: #cd162d;
    border: none;
    min-height: 60px;
    & #navbar-menu {
      & .navbar-nav {
        & .nav-item:hover {
          background-color: $hover-red;
        }
      }
    }
}

.navbar-default .navbar-brand {
    color: #FFFFFF;
    font-size: 140%;
}

.navbar-default .navbar-brand:hover{
    color: #E7E7E7;
    font-size: 140%;
}

.navbar-toggler-icon {
    // font-size: 4vw;
    vertical-align: middle;
    &:hover{

      &:before {
      color: #E7E7E7;
    }
  }
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    background-color: transparent !important;
}

.dropdown>.dropdown-menu {
    background-color: #cd162d;
    &.left{
      left: -250%;
    }
}

.navbar-toggler {
      &:hover {
      background-color: $hover-red;
    }
}

.nav>li {
    text-align: center !important;
}

.dropdown>.dropdown-menu * {
    color: white !important;
}

#user-manage {
 & .dropdown-item{
  &:hover {
    background-color: $hover-red !important;
  }
 }
}

.body {
    margin: 0 !important;
    padding-top: 60px;
}
