
html, body {
    height: 100%;
    width: 100%;
}

/* navbar */
.navbar-default {
    background-color: #cd162d;
    border: none;
}

.navbar-default .navbar-brand {
    color: #FFFFFF;
    font-size: 180%;
}

.navbar-toggler-icon {
    font-size: 5vw;
    line-height: 7.5vw;
}

.navbar-default .navbar-brand:hover{
    color: #E7E7E7;
    font-size: 180%;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    background-color: transparent !important;
}

.dropdown>.dropdown-menu {
    background-color: #cd162d;
}

.navbar-toggle {
    background-color: white;
}

.nav>li {
    text-align: center !important;
}

.dropdown>.dropdown-menu * {
    color: white !important;
}
