#logo {
  width: 200px;
  height: 200px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 12vh;
  margin-bottom: 5vh;
  display: block;
}


.signin-form * {
  display: block;
  margin: auto;
}

#loginBtn {
  width: 100%;
  margin-top: 3px;
  margin-bottom: 3px;
}

#login-img {
  max-width:300px;
  max-height:300px;
  width: 100%;
  height: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#signupLabel {
  text-align: center;
}
