<div class="container">
  <div id="login-panel" class="col-xs-12 col-sm-6 col-lg-4">
    <img id="login-img" src="assets/img/logo.png">
    <p id="profile-name" class="profile-name-card"></p>
    <form id='signin-form' class="form-signin" method="POST" enctype="multipart/form-data">
      <input type="text" id="inputUsername" class="form-control" placeholder="帳號" name="username" autocomplete="off" required autofocus>
      <input type="password" id="inputPassword" class="form-control" placeholder="密碼" name="password" autocomplete="off" required>
      <input type="submit" Value="Submit" class="btn btn-info" id="submitBtn">
    </form>
  </div>
</div>
