<!-- user info -->
<section class="userInfo">
    <div class="container">
        <div class="row">
        
        <div class="col-sm-2">
            <img style="border-radius: 8%" id="profilePicture">
        </div>

        <div class="col-sm-6">
            <h4 id='name'></h4>
            <h5 id='author_description'></h5>
        </div>

        <div class="col-sm-4" id="infoBox">
        </div>
        </div>
    </div>
    </section>

    <!-- Collection -->
    <section class="userCollection">
    <div class="container">

        <!-- Tab -->
        <ul class="nav nav-pills nav-justified" id="user-nav">
        <li class="nav-item active" aria-expanded="true">
            <a class="nav-link active" data-toggle="tab" href="#myCollections">我的作品集</a>
        </li>
        </ul>
        <div class="line"></div>
        <div class="tab-content">
        <div id="myCollections" class="tab-pane fade in active show">
            <div id="collection" class='col-lg-3 col-md-4 col-sm-8 col-xs-6' *ngFor="let collection of myCollections">
            <div class='card shadow bg-white rounded'>
                <a (click)="goToCollectionDetail(collection.id)" id='collectionLink'>
                <img class="card-img-top" src=`{{ collection.image_url }}`>
                <div class="card-body">
                    <div class='course-name' *ngIf="collection.privacy == 1; else notPrivacy">
                    <h5 style='text-align:left;' [innerHTML]='collection.name'>
                        <span class='glyphicon glyphicon-lock' style='float:right;'></span>
                    </h5>
                    </div>
                    <ng-template #notPrivacy>
                    <div class='course-name'>
                        <h5>{{ collection.name }}</h5>
                    </div>
                    </ng-template>
                    <p> {{ collection.item_ids.length }} 件模型<p>
                </div>
                </a>
            </div>
            </div>
        </div>
        </div>
    </div>
</section>
      