@import "~bootstrap/scss/bootstrap.scss";

.privacy-checkbox {
  display: inline;
  &+.privacy-checkbox:not(:first-child) {
    margin-left: 5vw;
  }
}

.form-group {
  & * {
    margin: auto;
  }
}

.TagList {
  .hashtag {
    margin: 5px;
    padding: 5px;
    border: 1px solid red;
    border-radius: 10px;
    color: red;
    font-size: 15px;

    &:hover {
      color: white;
      background-color: red;
    }

    &:before {
      content: "#";
    }
  }
}
